@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer */
  scrollbar-width: none;  /* for Firefox */
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Adjust width */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #059669 ; /* Darker gray */
  border-radius: 5px; /* Rounded edges */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker */
}


@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}
